<p>
  <strong><%= t 'comments.commenter', scope: :custom %></strong>
  <%= comment.user_id %>
</p>
 
<p>
  <strong><%= t 'comments.comment', scope: :custom %></strong>
  <%= comment.text %>
</p>

<p>
  <% if(comment.user_id == current_user.id) %>
  	<%= link_to (t 'comments.delete_comment', scope: :custom), [comment.post, comment], method: :delete, data: { confirm: (t 'confirm') } %>
  <% end %>
</p>