<h1>Welcome to Ketsie</h1>

<% if current_user %> 
   Hello, <%= current_user.email %><br />
   sn: <%= current_user.screenname %><br />                 
<% end %>

<% if !@followed.nil? %>
 <% @followed.each do |user| %>
Following:
<br />
    <p>	
    	<%= user.screenname %>      		               		 		               
      <br /> 
    </p>
 <% end %>
<% end %>

<% if !@following.nil? %>
 <% @following.each do |user| %>
Followed by:
<br />
    <p>	
    	<%= user.screenname %>      		               		 		               
      <br /> 
    </p>
 <% end %>
<% end %>

<br />

<br />

<%= link_to('Wall', posts_path) %>
<br />
<%= link_to('New post', new_post_path) %>
<br />
<%= link_to('Follow', new_follower_path) %>       