<h1><%= t 'home.intro', scope: :custom %></h1>

<% if current_user %> 
   <%= t 'home.welcome', scope: :custom %>, <%= current_user.email %><br />
   sn: <%= current_user.screenname %><br />                 
<% end %>

<%= render "followed" %>

<%= render "following" %>

<br />

<br />

<%= link_to((t 'home.wall', scope: :custom), posts_path) %>
<br />
<%= link_to((t 'home.new_post', scope: :custom), new_post_path) %>
<br />
<%= link_to((t 'home.follow', scope: :custom), new_follower_path) %>       