  
  <div class="field"> 
  	<%= @image.label :image_data %> 
  	<%= @image.file_field :image_data %> 
  </div>
  
  <div> 
  	<%= @image.label :description %> 
  	<%= @image.text_area :description %> 
  </div>
  
  <div>
  	<td><%= link_to ('edit image'), edit_image_path(@image) %></td>
  </div>