<div class='post' post_id='<%= post.id %>'>
	<div class='post_header'>
		<div class='post_user_avatar'>
			<%= render partial: "user_infos/show_avatar", locals:{user_info: post.user.user_info} %>
		</div>
		<div class='post_name_time'>
			<div class='post_screenname'>
				<%= post.user.screenname %>			
			</div>
			<div class='post_datetime'>
				<%= l post.updated_at, :format => :default %>				
			</div>
		</div>
		<div class='post_menu'>
			<%= image_tag "post_menu.png", :alt => "post_menu", :class => 'link' %>
			<div class='post_menu_menu'>
				<ul><li>edit</li><li>delete</li></ul>
			</div>
		</div>
	</div>
	<div class='post_text'>
		<%= raw post.text %>
	</div>
	<div class='post_likeable'>
		<%= render partial: "posts/likeable", locals:{likeable_reference: @likeable[post.id], post: post}  %>
	</div>
	<div class='post_liked_by'>
		<%= render partial: "posts/liked_by", locals:{liked_by_reference: @liked_by[post.id]} %>
	</div>
	
	<div class='post_add_comment'>		
		<%= render partial: "comments/form", locals:{post: post} %>
	</div>
</div>
	<%= #render partial: "posts/post_edit_menu", locals:{post: post} 
	%>