<h1><%= (t 'posts.editing', scope: :custom) %></h1>
 
<%= render "form" %>

<% if @images %>
  <%= render "images/images_show" %>
<% end %>
  

<%= link_to (t 'posts.add_image', scope: :custom), new_post_image_path(@post.id) %>
<br />
<%= link_to (t 'back'), posts_path %>