<p>
  <strong><%= (t 'posts.avatar', scope: :custom)%></strong>
  <% @user_info = @post.user.user_info %>
  <%= render "user_infos/show_avatar" %>
</p>

<p>
  <strong><%= (t 'posts.user_id', scope: :custom) %>:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong><%= (t 'posts.text', scope: :custom) %>:</strong>
  <%= raw @post.text %>
</p>

<% if @post.images %>
	<% @images = @post.images %>
    <%= render "images/images_show" %>
  <% end %>

	<h2><%= (t 'posts.comments', scope: :custom) %></h2>
	<%= render @post.comments %>

	<h2><%= (t 'posts.add_comment', scope: :custom) %>:</h2>
	<%= render "comments/form" %>


<%= link_to (t 'back'), posts_path %>
| <%= link_to (t 'edit'), edit_post_path(@post) %>