<p>
  <strong>User_ID:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= raw @post.text %>
</p>

<%= @post.inspect %>

<% if @post.images %>
    <% @post.images.each do |image| %>
	    <p>	
	    	<% if image.file_type =~ /^image\/.*?(png|jpeg|gif)$/ %> 
				<%= image_tag url_for({:controller => "images", :action => 'image', :id=> image.id}), :alt => image.file_name, :size => "350x300" %>
				<p><%= image.description %></p>									
			<% end %>	               		               		 		               
	      <br /> 
	    </p>
    <% end %>
  <% end %>

<% if(@post.user_id != current_user.id)%>
	<h2>Comments</h2>
	<%= render @post.comments %>

	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<% end %>


<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>