<p><%= (t 'hello') %> <%= @resource.email %>!</p>

<p><%= (t 'devise.change_pwd_text', scope: :custom) %></p>

<p><%= link_to (t 'devise.change_pwd_text_2', scope: :custom), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= (t 'devise.change_pwd_text3', scope: :custom) %></p>
<p><%= (t 'devise.change_pwd_text4', scope: :custom) %></p>
