<p><%= (t 'hello') %> <%= @resource.email %>!</p>

<p><%= (t 'devise.acc_locked', scope: :custom) %></p>

<p><%= (t 'devise.acc_locked2', scope: :custom) %>:</p>

<p><%= link_to (t 'devise.acc_locked3', scope: :custom), unlock_url(@resource, :unlock_token => @token) %></p>
